body {
  margin: 0;
}
.body{
  font-family: 'Gentium Basic', serif;
  color: white;
}
.line{
  width:25%;
}
.tea{
  background-color:white;
  height:50px;
  padding-top: 5px;
  padding-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
}
.contactform{
  margin-left: 5%;
}
.projects{
  display: flex;
  flex-shrink: 1px;
  flex-grow: 1px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border:1px solid black; 
  color:black;
 
  border-radius: 30px;
  background-color: rgb(238, 94, 75);
  background-image: linear-gradient(0deg, rgb(233, 154, 35) 0%, rgb(241, 102, 37) 50%, #e77326 100%);
}
.left{
  width: 100%;
  height:30px;
  background-color: rgb(238, 94, 75);
  background-image: linear-gradient(0deg, rgb(233, 154, 35) 0%, rgb(241, 102, 37) 50%, #e77326 100%);
  display: none;
}

.projects p{
  margin-top: 210px;
  padding-top:0px;
  font-size: large;
  display: none;
}
.projects:hover{
  background: url('./assets/quizapp.jpg') no-repeat center center;
}
.projects:hover p{
  display: block;
}
.projects:hover .left{
  display: block;
}


ul {
    list-style-type: none;
    
  }
  .container {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: black;
    margin-bottom:50px;
    margin-top: 0px;
  }
  .circle {
    background-color: #2EB6E8;
    border-radius: 1000px;
    height:100px;
    width:100px;
    margin: 1em;
    
  }
  .a{
    background-color: #419AFF;
  }
  .b{
    background-color: #2E54E8;
  }
  .c{
    background-color: #499BE3;
  }
  .circle:hover {
    background-color: #33FEFF;
  }
.projectsformat{
display: flex;
justify-content:center;
flex-direction: column;
align-items: center;
}
  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color:white;
    text-decoration: none; 
  }
  @media screen and (min-width: 600px) and (max-width:3760px) {
    .aboutformat{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .container {
        margin-bottom:70px;
        height:1px;
        margin-top: 0px;
    }
    .circle {
      margin-top: -50px;
    }
  }
  @media screen and (min-width: 1px) and (max-width:319px) {
    .container {
        margin-bottom:50px;
    }
  }
  @media screen and (min-width: 1px) and (max-width:1220px) {
    .aboutformat{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .line{
      width:100%;
    }
    .projects p{
      margin-top: 260px;
    }
}
